body{
	font-family: 'Josefin Sans', sans-serif;
}
video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	background-attachment: fixed;
}

p{
	color: #ffffff;
	font-size: 6em;
	margin: 5% 0% 5% 15%;
}

div{
	margin: 10% 0% 5% 0%;
}

.registration input{
	width: 38%;
	height: 10%;
	text-align: center;
	font-size: 2em;
	margin: 1% 0% 1% 15%;
}

.personal input{
	width: 38%;
	height: 10%;
	text-align: center;
	font-size: 2em;
	margin: 1% 0% 1% 15%;
}

.submission{
	margin: 5% 0% 5% 0%;
}

.submission a{
	color: #ffffff;
  	text-decoration: none;
  	font-size: 2em;
  	background-color: #5382E8;
  	opacity: 0.9;
  	border: 1px solid #5382E8;
  	border-radius: 2px;
  	padding-top: .7%;
  	padding-bottom: .5%;
  	padding-left: 5%;
  	padding-right: 5%;
  	margin-left: 15%;
}

